# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Variables
.env

# Logs
logs/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Data
data/raw_jobs/

# Temporary
temp/
tmp/